body {
    font-family: 'Roboto', sans-serif;
    background-color: #E9EAED;
}

.welcome-to-title {
    text-align: left;
    color: #57595e;
    max-width: 480px;
}

.welcome-to-title h1 {
    font-size: 42px;
    font-weight: 700;
}

.welcome-to-text {
    text-align: left;
    color: #57595e;
    font-weight: 300;
    font-size: 17px;
    max-width: 480px;
}

.search-page-row {
    margin-top: 30px;
    margin-bottom: 20px;
}

.search-page-label {
    max-width: 480px;
}

.search-page-label h2 {
    color: #57595e;
}

.search-page-form {
    max-width: 480px;
}

.search-page-form input {
    height: 50px;
    font-size: 26px;
    width: 450px;
    border: 2px solid #1983c1;
    background-color: #E9EAED;
    border-radius: 5px;
    color: #57595e;
}

.search-result {
    margin-top: -2px;
    height: 50px;
    width: 450px;
    border: 2px solid #1983c1;
    background-color: #115d87;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.search-result:hover {
    background-color: #1983c1;
}

.search-result .page-name {
    font-weight: 500;
    font-size: 22px;
    margin-top: 8px;
    display: inline-block;
}

@media screen and (max-width: 450px) {
    .search-page-form input {
        height: 38px;
        font-size: 18px;
        width: 300px;
    }

    .search-page-form {
        width: 300px;
        padding-left: 0px;
    }

    .search-page-label {
        width: 300px;
        padding-left: 0px;
    }

    .search-result {
        text-align: left;
        height: 38px;
        width: 300px;
    }

    .search-result .page-name {
        font-size: 16px;
    }
}